**/bin/
**/obj/
.vs/
.vscode/
publish/
*.user
*.suo
.opt/
*.7z
*.zip
# KappaCopy build/deploy
installer/output/
KappaCopy.code-workspace
# Local application data / temporary
clipboard.json
settings.json
info-app.txt
README_02.md